@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
   --pri: #FE7401;
   --secon:#FE6E04;
   --alternative: #FFBE00;
   --navfot:#8b4513cc;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
}